<!-- Modal -->
<div *ngIf="teamMember" class="modal fade" id="team-member-modal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Miembro de equipo</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form [formGroup]="teamMemberForm" (ngSubmit)="onSubmit()">
                    <input type="hidden" [(ngModel)]="teamMember.id" formControlName="id">
                    <div class="container">
                        <div class="row align-items-start">
                            <div class="col-4">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" [(ngModel)]="teamMember.active_mt" formControlName="active_mt">
                                    <label class="form-check-label" for="active_mt">Activo MT</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3 form-check">
                                    <input type="checkbox" class="form-check-input" [(ngModel)]="teamMember.available_ops" formControlName="available_ops">
                                    <label class="form-check-label" for="available_ops">Disponible para OPS</label>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="location" class="form-label">Ubicación</label>
                                    <input type="text" required class="form-control" [(ngModel)]="teamMember.location" formControlName="location">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="link_cv" class="form-label">CV</label>
                                    <input type="text" required class="form-control" [(ngModel)]="teamMember.link_cv" formControlName="link_cv">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="email" class="form-label">Email</label>
                                    <input type="email" required class="form-control" [(ngModel)]="teamMember.email" formControlName="email">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="full_name" class="form-label">Nombre</label>
                                    <input type="text" required class="form-control" [(ngModel)]="teamMember.full_name" formControlName="full_name">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="role" class="form-label">Role</label>
                                    <input type="text" required class="form-control" [(ngModel)]="teamMember.role" formControlName="role">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="techSkill" class="form-label">Tech Skill</label>
                                    <select class="form-select" aria-label="Tech Skill" [(ngModel)]="teamMember.techSkill" formControlName="techSkill">
                                        <option value="Jr">Jr</option>
                                        <option value="Mid">Mid</option>
                                        <option value="Sr">Sr</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="english" class="form-label">Inglés</label>
                                    <input type="range" class="form-range" min="0" max="10" [(ngModel)]="teamMember.english" formControlName="english">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="current_team" class="form-label">Equipo</label>
                                    <input type="text" required class="form-control" [(ngModel)]="teamMember.current_team" formControlName="current_team">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="next_team" class="form-label">Equipo futuro</label>
                                    <input type="text" class="form-control" [(ngModel)]="teamMember.next_team" formControlName="next_team">
                                </div>
                            </div>
                            <div class="col-4">
                                <div class="mb-3">
                                    <label for="date_start_team" class="form-label">Fecha de inico equipo actual</label>
                                    <input type="date" required class="form-control" [(ngModel)]="teamMember.date_start_team" formControlName="date_start_team">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="main_1" class="form-label">Main #1</label>
                                    <input type="text" required class="form-control" [(ngModel)]="teamMember.main_1" formControlName="main_1">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="main_1_score" class="form-label">Main #1 Score</label>
                                    <input type="number" required class="form-control" [(ngModel)]="teamMember.main_1_score" formControlName="main_1_score"
                                        min="0" max="100">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="main_2" class="form-label">Main #2</label>
                                    <input type="text" class="form-control" [(ngModel)]="teamMember.main_2" formControlName="main_2">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="main_2_score" class="form-label">Main #1 Score</label>
                                    <input type="number" required class="form-control" [(ngModel)]="teamMember.main_2_score" formControlName="main_2_score"
                                        min="0" max="100">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="secondary_1" class="form-label">Secondary #1</label>
                                    <input type="text" class="form-control" [(ngModel)]="teamMember.secondary_1" formControlName="secondary_1">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="secondary_1_score" class="form-label">Secondary #1 Score</label>
                                    <input type="number" required class="form-control" [(ngModel)]="teamMember.secondary_1_score" formControlName="secondary_1_score" min="0" max="100">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="secondary_2" class="form-label">Secondary #2</label>
                                    <input type="text" class="form-control" [(ngModel)]="teamMember.secondary_2" formControlName="secondary_2">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="secondary_2_score" class="form-label">Secondary #2 Score</label>
                                    <input type="number" required class="form-control" [(ngModel)]="teamMember.secondary_2_score" formControlName="secondary_2_score" min="0" max="100">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="secondary_3" class="form-label">Secondary #3</label>
                                    <input type="text" class="form-control" [(ngModel)]="teamMember.secondary_3" formControlName="secondary_3">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="secondary_3_score" class="form-label">Secondary #3 Score</label>
                                    <input type="number" required class="form-control" [(ngModel)]="teamMember.secondary_3_score" formControlName="secondary_3_score" min="0" max="100">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="target_tech_main" class="form-label">Target Tech Main</label>
                                    <input type="text" class="form-control" [(ngModel)]="teamMember.target_tech_main" formControlName="target_tech_main">
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                    <label for="next_tech_secondary" class="form-label">Next Tech Secondary</label>
                                    <input type="text" class="form-control" [(ngModel)]="teamMember.next_tech_secondary" formControlName="next_tech_secondary">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-start">
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="notes" class="form-label">Notas</label>
                                    <textarea class="form-control" placeholder="Notas" [(ngModel)]="teamMember.notes" formControlName="notes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <div class="d-flex justify-content-end">
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <button type="button" id="btn-close-form" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary" [disabled]="!teamMemberForm.valid">Guardar cambios</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>