<table class="table">
    <thead>
        <tr>
            <th>Acciones</th>
            <th scope="col">Activo MT</th>
            <th scope="col">Disponible para OPS</th>
            <th scope="col">Nombre</th>
            <th scope="col">Role</th>
            <th scope="col">Tech Skill</th>
            <th scope="col">Inglés</th>
            <th scope="col">Main #1</th>
            <th scope="col">Main #2</th>
            <th scope="col">CV</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let teamMember of teamMembers; let i = index">
            <th>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" (click)="onClickEditTeamMember(teamMember)" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#team-member-modal">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-wrench" viewBox="0 0 16 16">
                            <path
                                d="M.102 2.223A3.004 3.004 0 0 0 3.78 5.897l6.341 6.252A3.003 3.003 0 0 0 13 16a3 3 0 1 0-.851-5.878L5.897 3.781A3.004 3.004 0 0 0 2.223.1l2.141 2.142L4 4l-1.757.364L.102 2.223zm13.37 9.019l.528.026.287.445.445.287.026.529L15 13l-.242.471-.026.529-.445.287-.287.445-.529.026L13 15l-.471-.242-.529-.026-.287-.445-.445-.287-.026-.529L11 13l.242-.471.026-.529.445-.287.287-.445.529-.026L13 11l.471.242z" />
                        </svg>
                    </button>
                    <button type="button" (click)="onClickDeleteTeamMember(teamMember)" class="btn btn-secondary">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                            class="bi bi-trash" viewBox="0 0 16 16">
                            <path
                                d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                            <path fill-rule="evenodd"
                                d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                        </svg>
                    </button>
                </div>
            </th>
            <th><input class="form-check-input" type="checkbox" [checked]="teamMember.active_mt" name="active_mt"
                    disabled></th>
            <th><input class="form-check-input" type="checkbox" [checked]="teamMember.available_ops"
                    name="available_ops" disabled></th>
            <th><label>{{teamMember.full_name}}</label></th>
            <th><label>{{teamMember.role}}</label></th>
            <th><label class="alert"
                    [ngClass]="{'alert-info': teamMember.techSkill === 'Jr', 'alert-warning': teamMember.techSkill === 'Mid', 'alert-success': teamMember.techSkill === 'Sr'}">{{teamMember.techSkill}}</label>
            </th>
            <th><label class="alert"
                    [ngClass]="{'alert-danger': teamMember.english < 6, 'alert-warning': teamMember.english < 8, 'alert-success': teamMember.english >= 8}">{{teamMember.english}}</label>
            </th>
            <th><label title="{{teamMember.main_1_score}}" class="alert"
                    [ngClass]="{'alert-danger': teamMember.main_1_score < 60, 'alert-warning': teamMember.main_1_score < 80, 'alert-success': teamMember.main_1_score >= 80}">{{teamMember.main_1}}</label>
            </th>
            <th><label title="{{teamMember.main_2_score}}" class="alert"
                    [ngClass]="{'alert-danger': teamMember.main_2_score < 60, 'alert-warning': teamMember.main_2_score < 80, 'alert-success': teamMember.main_2_score >= 80}">{{teamMember.main_2}}</label>
            </th>
            <th><a class="btn btn-primary" href="{{teamMember.link_cv}}" target="_blank" role="button">Link</a></th>
        </tr>
    </tbody>
</table>
<div class="d-flex justify-content-end">
    <div class="d-flex justify-content-end">
        <button type="button" class="btn btn-primary" (click)="onClickNewTeamMember()" data-bs-toggle="modal" data-bs-target="#team-member-modal">Agregar
            miembro de equipo</button>
    </div>
</div>